<launch>
  <node name="cam_sign" pkg="usb_cam" type="usb_cam_node" respawn="true" output="screen" >
    <param name="video_device" value="/dev/v4l/by-id/usb-046d_081d_11B3DEC0-video-index0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="cam_sign" />
    <param name="io_method" value="mmap"/>
  </node>
</launch>
